<!--Admin Kullanıcının Göreceği Layout-->

<!DOCTYPE html>
<style>
    .body-content {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .containerBody {
        padding-right: 1px !important;
        padding-left: 1px !important;
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Uygulamam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Kategoriler", "CategoryList", "Home")</li>
                    <li>@Html.ActionLink("Sepetim ", "Index", "Sepets")</li>
                    <li>@Html.ActionLink("Çıkış Yap ", "Logout", "AuthAdmin")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="containerBody body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

