@model IEnumerable<ETicaret.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminHome.cshtml";
}

<h2>Kategori Liste</h2>

<p>
    @Html.ActionLink("Kategori Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusturulmaTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusturanKullaniciID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncellemeTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncellemeKullaniciID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aktif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OlusturulmaTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OlusturanKullaniciID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuncellemeTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuncellemeKullaniciID)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.ID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
